nav {
  display: flex;
  padding: 0.3em;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 600;
  margin: 5px;
}

.logo{
  width: 15%;
  padding: 0.5em ;
}

.logo img{width: 190px;}

.iconTheme {
  margin-right: 10px;
}

.authLink {
  color: #ff7c7a;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  padding: 0em;
  margin: 5px;
}

.authLink:hover {
  color: #ff423d;
}

.nav-btn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #ff7c7a;
  box-shadow: 0 0 15px 0 #ff5e5b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-btn:hover {
  transform: scale(1.05);
  background-color: #ff423d;
}

